---
import Footer from "@/components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navbar from "@/components/Navbar";
---

<Layout title="Contact">
  <div>
    <Navbar client:load />
    <section class="relative h-screen bg-black">
      <div
        class="h-screen bg-black relative bg-cover bg-center bg-no-repeat shadow-lg overflow-hidden"
        style={{ backgroundImage: `url(/images/contact/contactbg.jpg)` }}
      >
        <div class="absolute inset-0 bg-black/50"></div>
        <div class="relative z-10 flex flex-col justify-center items-center h-full text-white p-6">
          <h1 class="text-4xl md:text-6xl font-bold text-center">Contact</h1>
        </div>
      </div>
    </section>
    <section class="bg-white">
      <div class="container mx-auto py-12 px-4">
        <h2 class="text-3xl font-bold text-center">Contact Us</h2>
        <p class="text-lg text-center mt-4">
          If you have any questions or need more information, please contact us.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
          <div>
            <h3 class="text-xl font-bold">Address</h3>
            <p class="mt-2">1234 Main St, Suite 200</p>
            <p>Springfield, IL 62701</p>
          </div>
          <div>
            <h3 class="text-xl font-bold">Phone</h3>
            <p class="mt-2">(217) 555-1234</p>
          </div>
          <div>
            <h3 class="text-xl font-bold">Email</h3>
            <p class="mt-2">info
              <span class="text-blue-500">@</span>
              example.com
            </p>
          </div>
          <div>
            <h3 class="text-xl font-bold">Hours</h3>
            <p class="mt-2">Monday - Friday: 8am - 5pm</p>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>

</Layout>
