---
import Details from "@/components/Details.astro";
import Carousel from "../components/Carousel";
import HeroSection from "../components/HeroSection.astro";
import Navbar from "../components/Navbar";
import TextSection from "../components/TextSection.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";
import ContactSection from "@/components/ContactSection.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="SCI - About Us">
	<div>
		<Navbar client:load />
		<Carousel client:load />
		<div class="relative">
			<!-- Triángulo más grande y transparente -->
			<div
				class="absolute bottom-0 left-0 w-full h-0 border-l-[0vw] border-r-[70vw] border-b-[30px] md:border-b-[70px] border-l-transparent border-b-light-blue-300 opacity-50"
			>
			</div>

			<!-- Triángulo existente -->
			<div
				class="absolute bottom-0 left-0 w-full h-0 border-l-[100vw] border-r-[0vw] border-b-[50px] md:border-b-[90px] border-l-transparent border-r-transparent border-royal-blue"
			>
			</div>
		</div>

		<TextSection />
		<Details />
		<ContactSection />
		<Footer />
	</div>
</Layout>
