---
const currentYear = new Date().getFullYear();
---

<footer class="bg-navy-blue text-white p-4 mt-8">
  <div class="container mx-auto text-center">
    <p>
      &copy; {currentYear} SCI - Servicios de Construcción e Ingeniería. All rights
      reserved.
    </p>
  </div>
</footer>
