---

---

<header class="bg-navy-blue p-4 fixed top-0 left-0 w-full z-50 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-white">SCI</a>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-orange text-white">Inicio</a></li>
        <li>
          <a href="/services" class="hover:text-orange text-white">Servicios</a>
        </li>
        <li>
          <a href="/about" class="hover:text-orange text-white"
            >¿Quiénes somos nosotros?</a
          >
        </li>
        <li>
          <a href="/contact" class="hover:text-orange text-white">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
