---

---

<section>
  <div
    class="relative bg-cover bg-center bg-no-repeat shadow-lg overflow-hidden bg-royal-blue"
  >
    <div
      class="p-6 flex flex-col justify-center md:mx-10 items-start h-[350px] text-white"
    >
      <p class="prose prose-invert text-xl">
        Todo comenzó con el propósito de construir estructuras sólidas y
        sostenibles basadas en la excelencia y los valores. SCI trabaja para
        transformar ideas en obras que fortalecen comunidades y contribuyen al
        desarrollo, construyendo un legado de confianza y calidad
      </p>
      <p class="prose text-slate-500 text-xl">
        Servicios de Construcción e Ingeniería. -SCI-
      </p>
    </div>
  </div>
</section>
